.header-container {
  height: 7vh;
  background-color: #ff6600;
  display: flex;
  align-items: center;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 10px;
  color: white;
  width: 80px;
}

.nav-link:hover {
  background-color: #ffa264;
}

.active {
  background-color: #ffa264;
}
